.snare {
  display: flex;
  flex-direction: column;
  color: yellow;
  border: 0;
  border-radius: 5px;
  background-color: gray;
  transition:all 0.07s;
}

.snare kbd,
.snare span {
  align-self: center;
}

.isPlaying {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}
